

body {
    padding: 0px;
    margin: 0px;
}
main {
    padding: 16px;
}
footer {
    background-color: #588C7E;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 0px;
}
img {
    height: 200px;
}
nav {
    background-color: #F2E394;
    border-bottom: 2px solid #8C4646;
    padding: 16px;
}

tr:nth-child(2n) {
    background-color: lightgray;
}

.list-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.title-color{
    color: #8C4646;
}

.main-menu {
    text-decoration:none;
    color: #588C7E;
}

.main-menu:hover {
    color: #8C4646;
}

.food-link-color {
    color: #D96459;
}

.food-link-color:hover {
    color: #8C4646;
}
